{% extends 'base.html' %} 
{% load static %}

{% block title %}
  Profile
{% endblock title %}


{% block content %} 

 <div>
    <div class="container my-5" style="position: relative; top: 80px;">
    <div class="col-md-7 mb-5 mx-auto">
        <!-- Section: Basic Info -->
        <section class="card profile-card mb-5 text-center">
        <div
            class="avatar z-depth-1-half w-25 rounded-circle mx-auto bg-white"
            style="margin-top: -60px;"
        >
            <img
            src="{% static 'images/icone.png' %}"
            width="150"
            height="auto"
            alt=""
            class="img-fluid rounded-circle"
            />
        </div>
        <!-- Card content -->
        <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">
            <strong
                >{{user.last_name.capitalize}}
                {{user.first_name.capitalize}}</strong
            >
            </h4>
            <h5>Participant <a href="">Technovor Hackaton 2020</a></h5>
            <p class="dark-grey-text">ESATIC</p>

            <!-- Social -->
            <p>
            Nom d'utilisateur : <span class="text-info">{{user.username}}</span> <br />
            Nom : <span class="text-info">{{user.last_name.capitalize}}</span> <br />
            Prénom : <span class="text-info">{{user.first_name.capitalize}}</span> <br />
            Contact : <span class="text-info">{{user.participant.numero}}</span> <br />
            Email : <span class="text-info">{{user.email}}</span>
            </p>

            <!-- Text -->
            <p class="card-text mt-3">
            <h4>Nom d'équipe : <sapn class="text-warning">{{user.participant.equipe.nom.upper}}</span></h4> <br>
            <h4>Etat : {% if user.participant.equipe.selectionner %}<span class="text-success">Sélectionnée</span>{% else %}<span class="text-danger">Eliminée</span>{% endif %} </h4> 
            </p>
        </div>
        </section>
        <!-- Section: Basic Info -->
    </div>
    </div>
</div>
{% endblock content %}
