<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation échouée</title>
  </head>
  <body>
    <div class="container mx-auto" style="position: absolute; top: 50%;">
      <h3>
        Quelque chose d'inattendue s'est passée, svp veuillez contacter
        l'administrateur du site.
      </h3>
      <p>
        <strong><a href="{% url 'contact' %}">Vers la page de contact</a></strong>
      </p>
    </div>
  </body>
</html>
