{% extends 'base.html' %} {% load static %} {% block title %} Erreur du serveur
{% endblock title %} {% block content %}
<div
  style="background: url('{% static 'images/404.jpg' %}');background-size:cover;height: 86.6%;"
  class="pt-5"
>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p class="h3 my-4 text-warning">
          Accès interdit !
        </p>
        <p class="h6">
          Erreur 403. Désolé, vous n'êtes pas autorisé à accéder à la page.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
