{% extends 'base.html' %}
{% load static %}
{% block title %}
  Contact
{% endblock title %}

{% block content %}
<style type="text/css">
.in-error {
    text-align: left !important;
    color: #ff3547!important;
}
</style>
<div class="container mx-auto justify-content-center my-5">
  <div class="card mx-auto" style="margin-top: 50px;">

    <form id="contact" class="text-center border border-light p-5" method="POST">
      {% csrf_token %}
      <p style="font-size: 60px;"><i class="fas fa-paper-plane"></i></p>
      <p class="h4 mb-4">Contactez nous</p>

      {% if messages %} {% for message in messages %}
      <div
        class="alert alert-{{message.tags}} alert-dismissible fade show"
        role="alert"
      >
        {{message}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %} {% endif %}
      <div class="md-form md-outline">
        <input
          id="name"
          class="form-control"
          name="nom"
          type="text"
          style="line-height: 30px;"
        />
        <label for="name">Nom</label>
        <div class="in-error text-danger">{{ form.nom.errors.0 }}</div>
      </div>
      <div class="md-form md-outline">
        <input
          id="email"
          class="form-control"
          name="email"
          type="email"
          style="line-height: 30px;"
        />
        <label for="email">E-mail</label>
        <div class="in-error text-danger">{{ form.email.errors.0 }}</div>
      </div>
      <div class="md-form md-outline">
        <input
          id="numero"
          class="form-control"
          name="numero"
          type="text"
          style="line-height: 30px;"
        />
        <label for="numero">Numéro de téléphone (Whatsapp)</label>
        <div class="in-error text-danger">{{ form.nom.errors.0 }}</div>
      </div>
      <label>Sujet</label>
      <select class="browser-default custom-select mb-4" required name="sujet">
        <option value="0 xxx" selected>Retour d'information</option>
        <option value="1">Rapport de bug</option>
        <option value="2">Demande de fonctionnalité</option>
      </select>
      <div class="in-error text-danger">{{ form.sujet.errors.0 }}</div>
      <div class="md-form md-outline">
        <textarea
          id="form75"
          class="md-textarea form-control"
          rows="5"
          name="contenu"
        ></textarea>
        <label for="form75">Contenu</label>
        <div class="in-error text-danger">{{ form.contenu.errors.0 }}</div>
      </div>
      <button class="btn btn-info btn-block" type="submit">Envoyer</button>
    </form>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Contacts</h3>      
    </div>
  </div>
  <div class="row p-3">
    <div class="col-md-6">
      <div><strong>Téléhpone:</strong></div>
      <div>+255 89 85 28 56</div>
    </div>
    <div class="col-md-6 text-left">
      <div><strong>E-mail:</strong></div>
      <div>c2e.teams@gmail.com</div>
    </div>
  </div>
</div>
{% endblock content %}
