{% extends 'base.html' %} 
{% block title %}
Liste des equipes
{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="my-5 text-center">
    <h2>Liste des équipes</h2>
  </div>
  <div class="table-responsive-xl text-nowrap">
    <table class="table table-bordered table-dark table-hover">
      <thead>
        <tr class="text-center">
          <th>#</th>
          <th>Equipe</th>
          <th>Membres</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for equipe in equipes %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{equipe.nom.capitalize}}</td>
          <td>
            <ul style="list-style: none;">
                {% for participant in equipe.participants.all %}
                  {% if participant|lower == equipe.chef|lower %}
                    <li class="text-warning">
                      {{participant.user.last_name.capitalize}}
                      {{participant.user.first_name.capitalize}}
                    </li>
                  {% else %}
                    <li>
                      {{participant.user.last_name.capitalize}}
                      {{participant.user.first_name.capitalize}}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
