{% extends 'base.html' %} 
{% load static %}


{% block title %}
  Résultats
{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="text-center p-5">
    <div class="mb-4"><img style="width: 250px" src="{% static 'images/logoofficiel.png' %}"></div>
    <div class="h4 text-center">Liste des participants sélectionnés</div>
    <div class="text-danger"><strong>Les participants sélectionnés doivent prendre connaissance de leur numéro participant en se connectant. NB: Le numéro est une informations personelle.</strong></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-6 col-sm-12 ">
      <div class="container">
        <div class="text-center mb-4 h2">Niveau 1</div>
        <div class="table-responsive-xl text-nowrap">
          <table class="table table-striped table-dark table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Equipe</th>
                <th>Chef</th>
                <th>Coéquipier 1</th>
                <th>Coéquipier 2</th>
              </tr>
            </thead>
            <tbody>
              {% for equipe in equipes_niveau1 %}

              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{equipe.nom.capitalize}}</td>
                {% for participant in equipe.participants.all %}

                  <td>

                    <span  {% if participant|lower == equipe.chef|lower %} class="text-warning" {% endif %}>
                    {{participant.user.last_name.capitalize}}
                    {{participant.user.first_name.capitalize}}
                    </span>

                  </td>

                {% endfor %}
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>  

    <div class="col-md-6 col-sm-12 ">
      <div class="container">
        <div class="text-center mb-4 h2">Niveau 2</div>
        <div class="table-responsive-xl text-nowrap">
          <table class="table table-striped table-dark table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Equipe</th>
                <th>Chef</th>
                <th>Coéquipier 1</th>
                <th>Coéquipier 2</th>
              </tr>
            </thead>
            <tbody>
              {% for equipe in equipes_niveau2 %}

              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{equipe.nom.capitalize}}</td>
                {% for participant in equipe.participants.all %}

                  <td>

                    <span  {% if participant|lower == equipe.chef|lower %} class="text-warning" {% endif %}>
                    {{participant.user.last_name.capitalize}}
                    {{participant.user.first_name.capitalize}}
                    </span>

                  </td>

                {% endfor %}
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>  

  </div>
  
</div>

{% endblock content %}
